      <div class="container">
        <p class="text-muted center"><%= link_to "about", about_path %> | <%= link_to "たろっと一覧", :cards %> | <%= link_to "一枚引き", :forecasts %> | <%= link_to "三枚引き", :takethrees %></p>
        <p class="copyright center">Copyright &copy; <%= link_to "にゃんこたろっと", root_path %></p>
      </div>
